earthengine-api
pandas
flask
folium
markdown
plotly
matplotlib
fastapi
uvicorn
scikit-learn
numpy
statsmodels
requests
PyYAML
hdbscan
google-auth

# Testing dependencies
pytest
pytest-cov
pytest-xdist
pytest-mock
fpdf2
pypdf
shapely